grant {
    permission java.io.FilePermission "<<ALL FILES>>", "write, read, execute, delete";
    permission java.io.SerializablePermission "*" ;
    permission java.lang.management.ManagementPermission "monitor";
    permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
    permission java.lang.RuntimePermission "accessClassInPackage.org.apache.catalina.comet";
    permission java.lang.RuntimePermission "accessClassInPackage.org.apache.catalina.websocket";
    permission java.lang.RuntimePermission "accessClassInPackage.org.apache.jasper.el";
    permission java.lang.RuntimePermission "accessClassInPackage.org.apache.jasper.runtime";
    permission java.lang.RuntimePermission "accessClassInPackage.org.apache.jasper.runtime.*";
    permission java.lang.RuntimePermission "accessClassInPackage.org.apache.tomcat";
    permission java.lang.RuntimePermission "accessClassInPackage.org.apache.tomcat.websocket";
    permission java.lang.RuntimePermission "accessClassInPackage.org.apache.tomcat.websocket.server";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.misc";
    permission java.lang.RuntimePermission "accessClassInPackage.sun.reflect";
    permission java.lang.RuntimePermission "accessDeclaredMembers";
    permission java.lang.RuntimePermission "createClassLoader";
    permission java.lang.RuntimePermission "exitVM";
    permission java.lang.RuntimePermission "getClassLoader";
    permission java.lang.RuntimePermission "setContextClassLoader";
    permission java.lang.RuntimePermission "setFactory";
    permission java.lang.RuntimePermission "shutdownHooks";
    permission java.net.NetPermission "*";
    permission java.net.PropertyPermission "*", "read, write";
    permission java.net.SocketPermission "*", "accept, listen, connect, resolve";
    permission java.security.SecurityPermission "*";
    permission java.util.PropertyPermission "*", "read, write";
    permission javax.management.MBeanPermission "*", "*";
    permission javax.management.MBeanServerPermission "createMBeanServer";
    permission javax.management.MBeanServerPermission "findMBeanServer";
    permission javax.management.MBeanTrustPermission "register";
    permission javax.security.auth.AuthPermission "*";
    permission ognl.OgnlInvokePermission "*";
};
