<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * Copyright 2013 Gerhard Klostermeier
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
-->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.syss.MifareClassicTool"
    android:versionCode="17"
    android:versionName="1.5.3" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="de.syss.MifareClassicTool.Activities.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- NFC Tech Filter -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name="de.syss.MifareClassicTool.Activities.CreateKeyMapActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/map_keys_to_sector"
            android:label="@string/title_activity_create_key_map"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.syss.MifareClassicTool.Activities.DumpEditorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/edit_dump"
            android:label="@string/title_activity_dump_editor" >
        </activity>
        <activity
            android:name="de.syss.MifareClassicTool.Activities.FileChooserActivity"
            android:icon="@drawable/open"
            android:label="@string/title_activity_file_chooser"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.syss.MifareClassicTool.Activities.AccessConditionDecoderActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/access_conditions"
            android:label="@string/title_activity_access_conditions"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.syss.MifareClassicTool.Activities.ValueBlocksToIntActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/value_block_to_int"
            android:label="@string/title_activity_value_blocks"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.syss.MifareClassicTool.Activities.WriteTagActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/write_tag"
            android:label="@string/title_activity_write_tag"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.syss.MifareClassicTool.Activities.ReadTagActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/read_tag"
            android:label="@string/title_activity_read_tag"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.syss.MifareClassicTool.Activities.KeyEditorActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/edit_keys"
            android:label="@string/title_activity_key_editor"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.syss.MifareClassicTool.Activities.HelpActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/help_and_info"
            android:label="@string/title_activity_help"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.syss.MifareClassicTool.Activities.HexToAsciiActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/hex_to_ascii"
            android:label="@string/title_activity_hex_to_ascii"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.syss.MifareClassicTool.Activities.TagInfoToolActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/tag_info"
            android:label="@string/title_activity_tag_info"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.syss.MifareClassicTool.Activities.ValueBlockToolActivity"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/value_block_tool"
            android:label="@string/title_activity_value_block_tool"
            android:launchMode="singleTop" >
        </activity>
        <activity
            android:name="de.syss.MifareClassicTool.Activities.AccessConditionTool"
            android:label="@string/title_activity_access_condition_tool"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" >
        </activity>
    </application>

</manifest>