<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 * Copyright 2013 Gerhard Klostermeier
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */
-->


<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.syss.MifareClassicTool" >

    <uses-permission android:name="android.permission.NFC" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <application
        android:name=".Common"
        android:allowBackup="false"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <!-- Main Activity -->
        <activity
            android:name=".Activities.MainMenu"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_main"
            android:exported="true"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity-alias
            android:targetActivity=".Activities.MainMenu"
            android:name=".MainMenuAlias"
            android:label="@string/title_activity_main"
            android:exported="true"
            android:launchMode="singleTop" >
            <!-- NFC Tech Filter -->
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity-alias>

        <!-- Content Providers -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false"
            android:authorities="${applicationId}.fileprovider">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths"/>

        </provider>

        <!-- Other Activities -->
        <activity
            android:name=".Activities.KeyMapCreator"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/map_keys_to_sector"
            android:label="@string/title_activity_create_key_map" >
        </activity>
        <activity
            android:name=".Activities.DumpEditor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/edit_dump"
            android:label="@string/title_activity_dump_editor" >
        </activity>
        <activity
            android:name=".Activities.FileChooser"
            android:icon="@drawable/open"
            android:label="@string/title_activity_file_chooser"
            android:windowSoftInputMode="stateAlwaysHidden" >
        </activity>
        <activity
            android:name=".Activities.AccessConditionDecoder"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/access_conditions"
            android:label="@string/title_activity_access_conditions" >
        </activity>
        <activity
            android:name=".Activities.ValueBlocksToInt"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/value_block_to_int"
            android:label="@string/title_activity_value_blocks" >
        </activity>
        <activity
            android:name=".Activities.WriteTag"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/write_tag"
            android:label="@string/title_activity_write_tag" >
        </activity>
        <activity
            android:name=".Activities.ReadTag"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/read_tag"
            android:label="@string/title_activity_read_tag" >
        </activity>
        <activity
            android:name=".Activities.KeyEditor"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@drawable/edit_keys"
            android:label="@string/title_activity_key_editor" >
        </activity>
        <activity
            android:name=".Activities.HelpAndInfo"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/help_and_info"
            android:label="@string/title_activity_help" >
        </activity>
        <activity
            android:name=".Activities.HexToAscii"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/hex_to_ascii"
            android:label="@string/title_activity_hex_to_ascii" >
        </activity>
        <activity
            android:name=".Activities.TagInfoTool"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/tag_info"
            android:label="@string/title_activity_tag_info" >
        </activity>
        <activity
            android:name=".Activities.ValueBlockTool"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/value_block_tool"
            android:label="@string/title_activity_value_block_tool" >
        </activity>
        <activity
            android:name=".Activities.AccessConditionTool"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/access_condition_tool"
            android:label="@string/title_activity_access_condition_tool" >
        </activity>
        <activity
            android:name=".Activities.Preferences"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/preferences"
            android:label="@string/title_activity_preferences" >
        </activity>
        <activity
            android:name=".Activities.DiffTool"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/diff_tool"
            android:label="@string/title_activity_diff_tool" >
        </activity>
        <activity
            android:name=".Activities.BccTool"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/bcc_tool"
            android:label="@string/title_activity_bcc_tool" >
        </activity>
        <activity
            android:name=".Activities.CloneUidTool"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/clone_uid"
            android:label="@string/title_activity_clone_uid" >
        </activity>
        <activity
            android:name=".Activities.ImportExportTool"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/value_block_tool"
            android:label="@string/title_activity_import_export_tool" >
        </activity>
        <activity
            android:name=".Activities.UidLogTool"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/edit_dump"
            android:label="@string/title_activity_uid_log_tool" >
        </activity>
        <activity
            android:name=".Activities.DataConversionTool"
            android:configChanges="orientation|screenSize"
            android:icon="@drawable/hex_to_ascii"
            android:label="@string/title_activity_data_conversion_tool" >
        </activity>

    </application>

</manifest>