<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" >

  <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
     <param name="Target" value="System.out" /> 
     <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %5p %t %c{1} %m%n" />
     </layout>
  </appender>

  <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
     <param name="File" value="logs/easybuggy.log" />
     <param name="Append" value="true" />
     <param name="MaxFileSize" value="5MB" /> 
     <param name="MaxBackupIndex" value="5" />
     <layout class="org.apache.log4j.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %5p %t %c{1} %m%n" />
     </layout>
  </appender>
  
  <root>
    <priority value ="INFO" />
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="FILE"/>
  </root>
  
</log4j:configuration>